.uparrow-hidden {
  opacity: 0 !important;
  visibility: hidden;
}

#uparrow {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: rgb(182, 130, 35);
  opacity: 0.6;
  padding: 5px;
  justify-content: center;
  cursor: pointer;
  display: flex;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

#uparrow:active {
  opacity: 0.6;
}
