/* Customised HTML elements*/

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

main {
  height: calc(100vh - 60px);
  background-color: black;
  background-image: url("../img/prog_big.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  animation-name: movingbackground;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes movingbackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* Generic CSS classes */

.p2 {
  padding-right: 2.7rem;
  padding-left: 2.7rem;
}

.pt01 {
  padding-top: 8px;
}

.pt1 {
  padding-top: 15px;
}

.pt2 {
  padding-top: 25px;
}
.pb1 {
  padding-bottom: 15px;
}

.pb2 {
  padding-bottom: 25px;
}

.py2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.h1 {
  font-size: large;
}

/**/

.techstack h1 {
  text-align: center;
}

.techstack ul {
  list-style-type: none;
  padding: 0;
}

.techs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

@media (max-width: 700px) {
  .techs {
    grid-template-columns: 1fr;
  }
}

.techs > div {
  padding-left: 15vw;
  padding-top: 30px;
  padding-bottom: 10px;
}

.techs h5 {
  color: rgb(87, 85, 85);
  margin: 0;
}

.techs ul {
  margin: 0;
}

.techs ul li {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 3px;
  padding-bottom: 2px;
}

.techs ul li img {
  padding-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: 3px;
}
