#welcome {
  color: white;
  padding-top: 30vh;
}

#hiremediv {
  margin-top: 10px;
}

#hireme {
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #d2691e;
  margin: 10px;
  font-size: 1.3em;
  text-transform: uppercase;
  /*transition: background-color 0.4s;*/
  font-weight: 500;
  animation-name: pulsation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
/*
#hireme:hover {
  background-color: #ad500d;
}*/

#roles {
  text-transform: uppercase;
}

@keyframes pulsation {
  0% {
    background-color: #d2691e;
  }
  50% {
    background-color: #ad500d;
  }

  100% {
    background-color: #d2691e;
  }
}

#greeting {
  font-size: 0, 95rem;
}

#name {
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 600;
}

#devotion {
  color: #888;
}

#roles a {
  color: #d2691e;
  font-weight: 700;
  font-size: 1.1rem;
  transition: color 0.4s;
}

#roles a:hover {
  color: #914814;
}

#roles span {
  padding: 0 3px;
}
