nav {
  height: 60px;
  background-color: #d2691e;
  color: #fff;
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
}

#socials {
  justify-self: end;
  font-size: 1.3rem;
}

#socials a {
  padding: 7px;
  border-radius: 8px;
  transition: background-color 0.4s;
}

.limiter {
  width: 8px;
  display: inline-block;
}

#navs > a {
  font-size: 1.2rem;
  padding: 7px 7px;
  text-transform: uppercase;
  font-family: "Bebas Neue", "Roboto", cursive;
  border-radius: 15px;
  transition: background-color 0.4s;
}

#navs > div {
  display: none;
}

#navs > a:hover {
  background: #ad500d;
}

#socials a:hover {
  background: #ad500d;
}

.hamburger {
  font-size: 1.4rem;
  cursor: pointer;
  max-width: 50px;
}

/*.hamburger i {
  height: 3px;
  display: block;
  background-color: white;
  margin: 5px 0;
  width: 100%;
}*/

@media (max-width: 900px) {
  #navs a {
    display: none;
  }

  #navs div {
    display: block;
  }
}

.menu {
  position: fixed;
  transform: translateX(-110%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 150px;
  bottom: 150px;
  z-index: 99;
  background: white;
  border-radius: 8px;
  color: black;
  list-style: none;
  padding-top: 4rem;
}

@media (min-width: 900px) {
  .menu {
    display: none;
  }
}

.showMenu {
  transform: translateX(0);
}

.menu-item {
  display: block;
  padding: 5px 0;
  font-weight: 500;
}
