nav {
  height: 60px;
  background-color: #d2691e;
  color: #fff;
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
}

#socials {
  justify-self: end;
  font-size: 1.3rem;
}

.limiter {
  width: 8px;
  display: inline-block;
}

#navs > a {
  font-size: 1.2rem;
  padding-right: 7px;
  text-transform: uppercase;
  /*font-family: "VT323", monospace;*/
  font-family: "Bebas Neue", cursive;
}

#navs > a:hover {
  font-size: 1.3rem;
}

#socials a:hover {
  font-size: 1.4rem;
}
